@media(max-width: 980px){
    
    .header{
        justify-content: space-around;
        &__phone{
            font-size: 16px;
        }
    }
    

    .promo__wrapper{
        align-items: center;
    }

    .advantages__icons{
        justify-content: space-around;
    }

    .consultation{
        h2{
            text-align: center;
            font-size: 27px;
        }

        &__descr{
            text-align: center;
        }
    }

    .feed-form{
        margin: 0 auto;
    }

    .carousel__inner{
        width: 600px;
    }

    .slick-slide img{
        width: 600px;
    }


    
}

@media (max-width: 768px){
    .promo__header{
        font-size: 32px;
    }

    .promo__subheader{
        font-size: 21px;
    }

    .header__official{
        display: none;
    }

    .advantages__header{
        font-size: 24px;
    }

    .advantages__icons{
        flex-direction: column;
        align-items: center;
    }

    .advantages__icon{
        margin-bottom: 30px;
        &:nth-child(3){
            margin-bottom: 0;
        }
    }

    .consultation{
        h2{
            font-size: 22px;
        }
    }

    .carousel__inner{
        width: 380px;
    }

    .carousel__inner{
        width: 380px;
    }



    .slick-slide img{
        width: 380px;
    }

    .catalog__tabs{
        width: 450px;
        margin: 0 auto;       
    }

    .catalog__tab div{
        font-size: 14px;
        font-weight: 400;
    }

    .catalog__content{
        flex-wrap: nowrap;
    }

    .catalog-item{
        margin: 0 auto;
    }

    .reviews-item{
        flex-direction: column;
        align-items: center;
        text-align: center;
        img{
            margin-left: 60px;
            margin-bottom: 30px;
        }
    }


    
}

@media (max-width: 528px){
    .header{
        display: block;
        text-align: center;
        &__logo{
            img{
                max-width: 250px;
            }
        }
        &__contacts{
            margin-top: 30px;
            align-items: center;
        }
    }

    .promo__header{
        text-align: center;
        font-size: 20px;
    }

    .promo__subheader{
        text-align: center;
        font-size: 14px;
    }

    .promo__icons{
        display: none;
    }
    
    .carousel__inner{
        width: 180px;
    } 

    .slick-slide img{
        width: 180px;
    }

    

    .catalog__tabs{
        width: 280px;
    }

    .catalog__tab div{
        font-size: 8px;
        font-weight: 400;
    }


}