@media(max-width: 980px){
    
    .header{
        justify-content: space-around;
        &__phone{
            font-size: 16px;
        }
    }
    

    .promo__wrapper{
        align-items: center;
    }

    .advantages__icons{
        justify-content: space-around;
    }

    .consultation{
        h2{
            text-align: center;
            font-size: 27px;
        }

        &__descr{
            text-align: center;
        }
    }

    .feed-form{
        margin: 0 auto;
    }

    .carousel__inner{
        width: 600px;
    }

    .slick-slide img{
        width: 600px;
    }


    
}

@media (max-width: 768px){
    .promo__header{
        font-size: 32px;
    }

    .promo__subheader{
        font-size: 21px;
    }

    .header__official{
        display: none;
    }

    .advantages__header{
        font-size: 24px;
    }

    .advantages__icons{
        flex-direction: column;
        align-items: center;
    }

    .advantages__icon{
        margin-bottom: 30px;
        &:nth-child(3){
            margin-bottom: 0;
        }
    }

    .consultation{
        h2{
            font-size: 22px;
        }
    }

    .carousel__inner{
        width: 400px;
    }

    .slick-slide img{
        width: 400px;
    }

    .catalog__tabs{
        width: 450px;
        margin: 0 auto;       
    }

    .catalog__tab div{
        font-size: 14px;
        font-weight: 400;
    }

    .catalog__content{
        width: 750px;
    }

    
}